<section id="storeInformation" class="info">
    <div class="info__item">
        <img src="images/tenpo_1.jpg" class="info__img js-fadeUpTrigger" alt="店の写真">
        <div class="info__unit">
            <h1 class="info__heading js-fadeUpTrigger">店舗案内</h1>
            <p class="info__text js-fadeUpTrigger">お席はカウンターが８席のみ。</p><br>
            <p class="info__text js-fadeUpTrigger">職人たちが手間暇かけて調理した最高の一皿を、落ち着いた雰囲気の店内でご堪能いただけます。</p><br>
            <p class="info__text js-fadeUpTrigger">大切な方との特別なひとときや、</p><br>
            <p class="info__text js-fadeUpTrigger">接待などのシーンにもぜひご利用ください。</p>
        </div>
    </div>
</section>