<section class="menu">
    <h1 class="menu__heading js-fadeUpTrigger">お品書き</h1>
    <div class="menu__item js-title">
        <div class="menu__img js-thumb">
            <a href="menu.html#lunch" class="menu__img-link">
                <img src=/images/lunch.jpeg alt="海鮮丼">
            </a>
        </div>
        <div class="menu__unit js-text">
            <h2 class="menu__unit-title">昼の料理</h2>
            <p class="menu__unit-text">ちらし丼や寿司をリーズナブルにお楽しみいただけます。<br>お仕事の合間やランチタイムに、ぜひお気軽にお立ち寄りください。</p>
            <a href="menu.html#lunch" class="menu__unit-button js-button">もっと見る</a>
        </div>
    </div>
    <div class="menu__item js-title">
        <div class="menu__img js-thumb"><a href="menu.html#dinner" class="menu__img-link"><img src=/images/dinner.jpeg alt="握り寿司"></a></div>
        <div class="menu__unit js-text">
            <h2 class="menu__unit-title">夜の料理</h2>
            <p class="menu__unit-text">
            鮮度抜群のマグロを使用した中トロや大トロの寿司をはじめ、ウニ、サーモンなど定番のネタから、季節限定のネタまで取り揃えております。</p>
            <a href="menu.html#dinner" class="menu__unit-button js-button">もっと見る</a>
        </div>
    </div>
    <div class="menu__item js-title">
        <div class="menu__img js-thumb"><a href="menu.html#course" class="menu__img-link"><img src="/images/course.jpeg" alt="コース料理"></a></div>
        <div class="menu__unit js-text">
            <h2 class="menu__unit-title">コース料理</h2>
            <p class="menu__unit-text">
            旬の食材をふんだんに使用し、職人の手仕事による握り寿司を中心に、<br>前菜や揚げ物、煮物など多彩な料理が楽しめます。
            </p>
            <a href="menu.html#course" class="menu__unit-button js-button">もっと見る</a>
        </div>
    </div>
</section>
