.about__Content {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.about__item__forward {
    height: auto;
    margin: calc(var(--spacing) * 20) auto calc(var(--spacing) * 40);
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.about__item__reverse {
    height: auto;
    margin: calc(var(--spacing) * 20) auto calc(var(--spacing) * 40);
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction:row-reverse;
}
.about__img {
    width: 50%;
}
.about__heading {
    width: 45%;
}
.about__heading-text {
    margin: 0 auto calc(var(--spacing) * 7);
    padding: calc(var(--spacing) * 4) 0;
    position: relative;
    &::after {
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: #aaa;
    }
}
@media screen and (max-width:768px) {
    .about__Content {
        width: 80%;
        margin: 0 auto;
    }
    .about__item__forward {
        margin: calc(var(--spacing) * 20) auto calc(var(--spacing) * 20);
        display: block;
    }
    .about__item__reverse {
        margin: calc(var(--spacing) * 20) auto calc(var(--spacing) * 20);
        display: block;
    }
    .about__img,
    .about__heading {
        width: 100%;
    }
    .about__heading-text {
        margin: 0 auto calc(var(--spacing) * 4);
        font-size: var(--text-xl);
    }
}