// @@@
// remとpxが混在してる。
//
footer {
    padding-bottom: 100px;
    padding-top: 60px;
    margin-top: 100px;
    overflow: hidden;
}
.footer__item {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.footer__unit {
    width: 50%;
    padding-right: 40px;
}
.footer__wrap {
    display: flex;
    align-items: center;
    line-height: 1;
}
.footer__heading {
    font-size: 3rem;
    width: 40%;
    display: inline-block;
}
.footer_button {
    display: block;
    width: 60%;
    padding: 16px 20px;
    background: rgba(137,22,45,0.7);
}
.footer_button:hover {
    background: #771212;
}
.footer_button-text {
    font-size: 1rem;
}
.footer_button-tel {
    font-size: 1.5rem;
    padding-top: 8px;
}
.footer_button-icon {
    width: 24px;
    height: 24px;
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    line-height: 2;
}
.footer__list-term {
    width: 25%;
    margin-bottom: 1rem;
}
.footer__list-description {
    width: 75%;
    margin-bottom: 1rem;
}
.footer__gmap {
    width: 50%;
    height: 450px;
}
.footer__copyright {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    /* font-size: .75rem; */
}

@media screen and (max-width:768px) {
    footer {
        padding-bottom: 40px;
        padding-top: 90px;
        margin-top: 0px;
    }
    .footer__item {
        width: 100%;
        flex-direction: column;
    }
    .footer__unit {
        width: 400px;
        max-width: 90%;
        margin: 0 auto;
        padding-right: 0;
        padding-bottom: 20px;
    }
    .footer__heading {
        font-size: 2rem;
        width: 40%;
    }
    .footer_button {
        width: 60%;
        padding: 8px 16px;
    }
    .footer_button-text {
        font-size: 1rem;
    }
    .footer_button-tel {
        font-size: 1.25rem;
        padding-top: 10px;
    }
    .footer_button-icon {
        width: 20px;
        height: 20px;
    }
    .footer__list {
        padding-top: 30px;
    }
    .footer__gmap {
        width: 100%;
        height: 300px;
    }
    .footer__copyright {
        position: static;
        text-align: center;
        margin-top: 40px;
        /* font-size: .5rem; */
    }
}
