.footer__item {
    padding-top: calc(var(--spacing) * 40);
    overflow: hidden;
    position: relative;
    width: calc(var(--spacing) * 250);
    margin: 0 auto;
    display: flex;
}
.footer__unit {
    width: 50%;
    padding-right: calc(var(--spacing) * 10);
}
.footer__wrap {
    display: flex;
    align-items: center;
    line-height: 1;
}
.footer__heading {
    font-size: var(--text-5xl);
    width: 40%;
    display: inline-block;
}
.footer_button {
    display: block;
    width: 60%;
    padding: calc(var(--spacing) * 4) calc(var(--spacing) * 5);
    background: rgba(137,22,45,0.7);
    &:hover {
        background: #771212;
    }
}
.footer_button-tel {
    font-size: var(--text-2xl);
    padding-top: calc(var(--spacing) * 2);
}
.footer_button-icon {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: calc(var(--spacing) * 10);
    line-height: 2;
}
.footer__list-term {
    width: 25%;
    margin-bottom: calc(var(--spacing) * 4);
}
.footer__list-description {
    width: 75%;
    margin-bottom: calc(var(--spacing) * 4);
}
.footer__gmap {
    width: 50%;
    height: calc(var(--spacing) * 110);
}
.footer__copyright {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media screen and (max-width:768px) {
    .footer__item {
        padding-top: calc(var(--spacing) * 20);
        width: 100%;
        flex-direction: column;
    }
    .footer__unit {
        width: calc(var(--spacing) * 110);
        max-width: 90%;
        margin: 0 auto calc(var(--spacing) * 5);
        padding-right: 0;
    }
    .footer__heading {
        font-size: var(--text-4xl);
        width: 40%;
    }
    .footer_button {
        width: 60%;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    }
    .footer_button-tel {
        font-size: var(--text-xl);
    }
    .footer_button-icon {
        width: 20px;
        height: 20px;
    }
    .footer__gmap {
        width: 100%;
        height: calc(var(--spacing) * 90);
    }
    .footer__copyright {
        position: static;
        text-align: center;
        margin-top: calc(var(--spacing) * 12);
    }
}
