.header {
    position: relative;
    z-index: 11;
}
.header__item {
    position: absolute;
    top: calc(var(--spacing) * 2);
    z-index: 101;
}
.header__item-ttl {
    font-size: var(--text-5xl);
    padding-left: calc(var(--spacing) * 4);
}
.header__button-sp {
    display: none;
}
.header__nav {
    position: absolute;
    width: calc(var(--spacing) * 60);
    height: calc(var(--spacing) * 40);
    top: 0;
    right: 0;
    margin-right: calc(var(--spacing) * 30);
}
.header__nav-list {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 0;
    right: 0;
}
.header__nav-item-text {
    width: calc(var(--spacing) * 12);
    padding-top: calc(var(--spacing) * 6);
    position: relative;
    display: block;
    line-height: 2.8;

    &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background: #aaa;
    left: 50%;
    top: 0;
    transform-origin: center top;
    transform: scale(1, 0);
    transition: 0.3s all ease-in-out;
    }
    &:hover::before {
        transform: scale(1, 1);
    }
}
.header__button-pc {
    display: block;
    width: 90px;
    height: 225px;
    line-height: 2.1;
    font-size: var(--text-2xl);
    padding: calc(var(--spacing) * 6) calc(var(--spacing) * 5);
    background: #89162D;
    position: fixed;
    top: 0;
    right: 0;
    &:hover {
        background: #660F1D;
    }
}
.header__sidenav {
    display: inline-block;
    position: fixed;
    top: 240px;
    right: 33px;
    z-index: 11;
    opacity: 0;
    transform: translateX(100px);
}
.header__sidenav-item-text  {
    display: inline-block;
    padding-bottom: calc(var(--spacing) * 2);
    position: relative;
    font-size: var(--text-lg);

    &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    background: #aaa;
    right: -5px;
    top: calc(30% / 2 - 4px);
    transform-origin: center center;
    transform: scale(1, 0);
    transition: 0.3s all ease-in-out;
    }
    &:hover::before {
    transform: scale(1, 1);
    }
}

.header__item-back {
    display: block;
    width: calc(var(--spacing) * 15);
    height: calc(var(--spacing) * 15);
    border: 2px solid #aaa;
    border-radius: 30px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    text-align: center;
    z-index: 11;
    opacity: 0;
    transform: translateX(100px);
    &:hover {
        background: #771212;
    }
}
.header__item-back-text {
    display: inline-block;
    padding-top: calc(var(--spacing) * 4);
}

/* ---sp-header--- */
@media screen and (max-width:768px) {
    .header__item{
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(4px);
        width: 100%;
    }
    .header__item-ttl {
        flex: 1 1 auto;
        font-size: var(--text-3xl);
    }
    .header__button-sp {
        display: inline-block;
        width: auto;
        padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4);
        margin-right: calc(var(--spacing) * 3);
        text-align: right;
        background: rgba(137,22,45,0.7);
        line-height: 1;
    }
    .header__button-sp-tel {
        font-size: var(--text-xl);
        padding-top: calc(var(--spacing) * 2);
    }
    .header__button-sp-img {
        width: 20px;
        height: 20px;
    }
    .header__menu-button {
        position: relative;
        // border: #fff 1px solid;
        border-radius: 50%;
        cursor: pointer;
        width: 50px;
        height:50px;
    }
    .header__menu-icon {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 2px;
        background: #fff;
        width: 55%;
    }
    .header__menu-icon:nth-of-type(1) {
        top:14px;
    }
    .header__menu-icon:nth-of-type(2) {
        top:23px;
    }
    .header__menu-icon:nth-of-type(3) {
        top:32px;
    }
    .js-hamburger-button.active .header__menu-icon:nth-of-type(1) {
        top: 18px;
        left: 14px;
        transform: translateY(6px) rotate(-45deg);
        width: 50%;
    }
    .js-hamburger-button.active .header__menu-icon:nth-of-type(2) {
        opacity: 0;
    }
    .js-hamburger-button.active .header__menu-icon:nth-of-type(3){
        top: 30px;
        left: 14px;
        transform: translateY(-6px) rotate(45deg);
        width: 50%;
    }
    .header__nav {
        position: fixed;
        margin-right: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        transition: ease .4s;
        pointer-events: none;
        opacity: 0;
        transition: opacity .3s linear;
    }
    .header__nav-list {
        width: calc(var(--spacing) * 70);
        height: auto;
        top: 30%;
        right: 50%;
        -webkit-transform: translate(50%,0);
        transform: translate(50%,0);
    }
    .header__nav-item-text {
        width: calc(var(--spacing) * 14);
        padding: 0;
        font-size: var(--text-xl);
        &::before {
            display: none;
        }
    }
    .js-header__nav.active {
        pointer-events: auto;
        opacity: 1;
    }
    .header__button-pc {
        display: none;
    }
    .header__sidenav {
        display: none;
    }
    .header__item-back {
        right: 8px;
    }
    .header__item-back:active {
        background: #771212;
    }
    .header__item-back-text {
        padding-top: calc(var(--spacing) * 4);
    }
}
