<section class="news__head">
    <div class="news__head-item">
        <h1 class="news__head-title">
            <span class="news__head-title-text">お知らせ</span>
        </h1>
        <div class="news__head-img"></div>
    </div>
</section>
