<section class="about__head">
    <div class="about__head-item titleArea">
        <h1 class="about__head-title">
            <span class="about__head-title-text">かぐらのこだわり</span>
        </h1>
        <div class="about__head-img"></div>
    </div>
</section>
