<section class="about__Content">
    <div class="about__item__reverse js-fadeUpTrigger">
        <img src="images/fish.png" alt="魚の写真" class="about__img">
        <div class="about__heading">
            <h2 class="about__heading-text">仕入れのこだわり</h2>
            <p class="about__body-text">
            ネタの鮮度に徹底的にこだわります。<br>毎朝、東京中央卸売市場で、新鮮な魚介類を仕入れます。<br>その日のお客様の注文に合わせて、<br>最適な状態で調理することを心がけています。</p>
        </div>
    </div>
    <div class="about__item__forward js-fadeUpTrigger">
        <img src="images/rise.jpg" alt="お米の写真" class="about__img">
        <div class="about__heading">
            <h2 class="about__heading-text">シャリのこだわり</h2>
            <p class="about__body-text">
            厳選された最高級の米を使用し、<br>炊き上げる際にも、水の質や火加減にも<br>細心の注意を払います。<br>寿司の味を左右する重要な要素の一つとなっています。</p>
        </div>
    </div>
    <div class="about__item__reverse js-fadeUpTrigger">
        <img src="images/itamae_small.jpg" alt="板前の写真" class="about__img">
        <div class="about__heading">
            <h2 class="about__heading-text">職人のこだわり</h2>
            <p class="about__body-text">
            寿司を握る際の手の動きや力加減、ネタとシャリの<br>バランスなど、細かい部分にまで注意を払い、<br>一つ一つ丁寧に仕上げます。<br>お客様に最高の味わいを提供するために欠かせない技術です。
            </p>
        </div>
    </div>
    <div class="about__item__forward js-fadeUpTrigger">
        <img src="images/alcohol-2.jpeg" alt="お酒の写真" class="about__img">
        <div class="about__heading">
            <h2 class="about__heading-text">組み合わせのこだわり</h2>
            <p class="about__body-text">当店ではお客様に自由にお酒と寿司をお愉しみいただきたいと考えております。<br>
            お客様のお好みに合わせた飲み物のペアリングも可能です。日本酒やワイン、ビールなど、豊富なドリンクメニューと共に、当店自慢の料理をお楽しみください。</p>
        </div>
    </div>
</section>
