.hero {
    width: 100%;
    max-height: 80vh;
    position: relative;
    overflow: hidden;
}
.hero__item {
    width: 100%;
}
.hero__picture {
    width: 100%;
    height: auto;
    display: block;
    }
.hero__img  {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


@keyframes zoomUp {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
  }
  .add-animation {
      animation: zoomUp 10s linear 0s normal both;
      /* transform-origin: 50% 50%; */
    }
@media screen and (max-width:768px) {
    .hero__item{
        height: 100%;
    }    
}
.hero__item-scrolldown {
    position:absolute;
    bottom: 8px;
    left: 8px;
}
.hero__item-scrolldown-text {
    position: absolute;
    left:8px;
    bottom:16px;
    font-size: .875rem;
}
.hero__item-scrolldown:before {
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width:8px;
    height:8px;
    border-radius: 50%;
    background:#ddd;
    opacity: 0;
    animation:
    circlemove 2s ease-in-out infinite backwards,
    cirlemovehide 2s ease-in infinite backwards;
}
@keyframes circlemove {
    0% {bottom: 55px;}
    100% {bottom: -5px;}
}
@keyframes cirlemovehide {
    0% {opacity: 0;}
    50% {opacity: 1;}
    70% {opacity: 0.5;}
    100% {opacity: 0;}
}
.hero__item-scrolldown:after{
    content:"";
    position: absolute;
    bottom:0;
    left:4px;
    width:1px;
    height: 60px;
    background: #ddd;
}