<section class="head">
    <div class="head-item titleArea">
        <h1 class="head-title">
            <span class="head-title-text">かぐらのこだわり</span>
        </h1>
        <div class="head-img"></div>
    </div>
</section>
