<header class="header">
    <div class="header__item">
        <h1 class="header__item-ttl">
            <a href="index.html">かぐら</a>
        </h1>
        <a class="header__button-sp" href="tel:0330000000">
            <span class="header__button-sp-text">ご予約はお電話にて</span>
            <p class="header__button-sp-tel">
                <img class="header__button-sp-img" src="/images/phone.png"> 03-3000-0000
            </p>
        </a>
        <div class="header__menu">
            <button class="header__menu-button js-hamburger-button">
                <span class="header__menu-icon"></span>
                <span class="header__menu-icon"></span>
                <span class="header__menu-icon"></span>
            </button>
        </div>
    </div>

    <nav class="header__nav js-header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a class="header__nav-item-text rl-text" href="index.html">ホーム</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-text rl-text" href="news.html">お知らせ</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-text rl-text" href="about.html">こだわり</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-text rl-text" href="menu.html">お品書き</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-item-text rl-text js-footerlink" href="#footer">店舗案内</a>
            </li>
        </ul>
    </nav>

    <a class="header__button-pc rl-text" href="#footer">ご予約はこちら</a>

    <nav class="header__sidenav appBtn js-header__sidenav">
        <ul>
            <li><a class="header__sidenav-item-text rl-text" href="index.html">ホーム</a>
            </li>
            <li><a class="header__sidenav-item-text rl-text" href="about.html">こだわり</a></li>
            <li><a class="header__sidenav-item-text rl-text" href="menu.html">お品書き</a></li>
            <li><a class="header__sidenav-item-text rl-text" href="#footer">店舗案内</a></li>
        </ul>
    </nav>
    <a class="header__item-back appBtn js-header__sidenav" id="page-top" href="index.html">
        <span class="header__item-back-text">TOP</span>
    </a>
</header>