.news__head-img {
    width: 100%;
    height: calc(var(--spacing) * 125);
    background-image: url(../images/newstop.jpg);
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(black 30%, transparent);
    mask-image: linear-gradient(black 30%, transparent);
}

.news__head-title {
    position: absolute;
    z-index: 1;
    top: calc(var(--spacing) * 55);
    left: 50%;
}
.news__head-title-text {
    display: block;
    transform: translateX(-50%);
}


@media screen and (max-width:768px) {
.news__head-img {
    height: calc(var(--spacing) * 75);
}

.news__head-title {
    top: calc(var(--spacing) * 35);
}
.news__head-title {
    left: calc((100vw - 210px) / 2);
}
.news__head-title-text {
    width: 210px;
    text-align: center;
    transform: translateX(0%);
}

}