.menu__group {
    margin-bottom: calc(var(--spacing) * 15);
}
.menu__contents {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.menu__nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: -80px;
    right: 0;
}
.menu__nav-item {
    position: relative;
    display: block;
    text-align: center;
    width: 22%;
    height: auto;
    padding: calc(var(--spacing) * 2);
    font-size: var(--text-lg);
    background: rgba(137, 22, 45, 0.8);
    &:hover {
        background: rgba(119, 18, 18, 0.8);
    }
}
.menu__nav-item-span {
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #aaa;
}
.menu__contents-heading {
    margin: 0 auto;
    padding-top: calc(var(--spacing) * 30);
}
.menu__contents-text {
    text-align: center;
    padding: calc(var(--spacing) * 15) 0;
}

/* ---lunch--- */
.lunch__contents {
    height: auto;
    display: flex;
    justify-content: space-between;
}
.lunch__contents-item {
    width: 30%;
}
.lunch__contents-text {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--spacing) * 3) 0;
}
/* ---dinner--- */
.dinner__contents {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.dinner__contents-text {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--spacing) * 3) 0;
}
.dinner__contents-item__large {
    width: 48%;
}
.dinner__contents-item__small {
    width: 30%;
}

/* ---drink--- */
.drink__contents {
    height: auto;
    margin: 0 auto;
    padding: calc(var(--spacing) * 8);
    background: #222;
    display: flex;
    position: relative;
    justify-content: space-around;
}
.drink__contents-item {
    width: 40%;
}
.drink__contents-item-heading {
    margin-top: calc(var(--spacing) * 8);
}
.drink__list-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: calc(var(--spacing) * 2) 0;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        border-bottom: dotted 1px #aaa;
    }
}
.drink__list-term {
    margin: 0;
    padding: 0 calc(var(--spacing) * 2) 0 0;
    z-index: 1;
    background-color: #222;
    text-align-last: left;
}
.drink__list-description {
    margin: 0;
    padding: 0 0 0 calc(var(--spacing) * 2);
    z-index: 1;
    background-color: #222;
    text-align: right;
}
/* ---course--- */
.course__contents {
    width: 100vw;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.course__contents-img {
    position: absolute;
    width: 60%;
    bottom: -60px;
    left: -20px;
}
.course__contents-item {
    /* position: absolute; */
    width: 40%;
    margin-top: calc(var(--spacing) * 20);
    margin-left: auto;
    margin-right: calc(var(--spacing) * 27);
    line-height: 2.5;
    z-index: 11;
}
.course__contents-item-menu {
    padding-top: calc(var(--spacing) * 10);
    padding-left: calc(var(--spacing) * 5);
}
.course__contents-item-text {
    padding-bottom: calc(var(--spacing) * 7);
    position: relative;
}
.course__contents-menu-span {
    padding-right: calc(var(--spacing) * 7);
    font-size: var(--text-2xl);
}
@media screen and (max-width:768px) {
    .menu__group {
        margin-bottom: calc(var(--spacing) * 5);
    }
    .menu__nav {
        top: -20px;
        width: 90vw;
        margin: calc((100% - 90vw) / 2);
        flex-wrap: wrap;
    }
    .menu__nav-item {
        width: 47%;
        margin-bottom: calc(var(--spacing) * 2);
    }
    .enu__nav-item-span {
        border-left: 6px solid transparent;
        border-bottom: 6px solid #aaa;
    }
    .menu__contents-heading {
        font-size: var(--text-xl);
    }
    /* ---lunch--- */
    .lunch__contents {
        flex-direction: column;
    }
    .lunch__contents-item {
        width: 100%;
        margin-bottom: calc(var(--spacing) * 8);
    }
    /* ---dinner--- */
    .dinner__contents {
        flex-direction: column;
    }
    .dinner__contents-item__large {
        width: 100%;
        margin-bottom: calc(var(--spacing) * 8);
    }
    .dinner__contents-item__small {
        width: 100%;
        margin-bottom: calc(var(--spacing) * 8);
    }
    /* ---drink--- */
    .drink__contents {
        flex-direction: column;
        padding: calc(var(--spacing) * 4);
    }
    .drink__contents-item {
        width: 100%;
    }
    /* ---course--- */
    .course__contents-img {
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .course__contents-item {
        width: 80%;
        margin:  calc(var(--spacing) * 10) auto 0;
        line-height: 2;
    }
    .course__contents-item-menu {
        padding-left: 0;
    }
    .course__contents-menu-span {
        font-size: var(--text-xl);
    }
}