<section class="about">
    <div class="about__item fadeUpTrigger title">
        <p class="about__text appears">ここ東京 神楽坂にて伝統の味を追求しております。</p>
        <br>
        <p class="about__text appears">こだわりの調理法によって引き出される素材の旨みと食感は、贅沢な時間を過ごすお客様たちから高い評価を受けています。</p>
        <br>
        <p class="about__text appears">当店は、予約制でお席をご用意しております。大切な方との特別なひとときや、接待などのシーンにもぜひご利用ください。最高の寿司とともに、お客様を心からおもてなしいたします。</p>
        <a href="about.html" class="about__button appears">こだわりを知る
            <span class="about__button-deco"></span>
        </a>
    </div>
</section>