<header>
    <div class="fixed-header">
        <h1 class="header__item-ttl">
            <a href="index.html">かぐら</a>
        </h1>
        <a href="tel:0330000000" class="smallReserveBtn sp-only">
            <span>ご予約はお電話にて</span>
            <p> <img src="assets/images/phone.png"> 03-3000-0000</p>
        </a>
        <div class="hamburgerBtn">
            <button class="hamburger">
                <span></span><span></span><span></span>
            </button>
        </div><!-- .hamburgerBtn -->
    </div><!-- .fixed-header -->

    <div class="flow-header">
        <nav class="wrapper">
            <ul class="wrapper-items">
                <li class="wrapper-item"><a class="rl-text" href="index.html">ホーム</a></li>
                <li class="wrapper-item"><a class="rl-text" href="news.html">お知らせ</a></li>
                <li class="wrapper-item"><a class="rl-text" href="about.html">こだわり</a></li>
                <li class="wrapper-item"><a class="rl-text" href="menu.html">お品書き</a></li>
                <li class="wrapper-item footerlink"><a class="rl-text" href="#storeInformation">店舗案内</a></li>
            </ul>
        </nav><!-- .wrapper -->
    </div><!-- .flow-header -->

    <p class="reserveBtn"><a class="rl-text" href="#footer">ご予約はこちら</a></p>

    <nav class="appBtn sideMenu hide-btn">
        <ul>
            <li><a class="rl-text" href="index.html">ホーム</a>
            </li>
            <li><a class="rl-text" href="about.html">こだわり</a></li>
            <li><a class="rl-text" href="menu.html">お品書き</a></li>
            <li><a class="rl-text" href="#storeInformation">店舗案内</a></li>
        </ul>
    </nav><!-- .sideMenu -->
    <a class="backToTop appBtn" id="page-top" href="index.html">
        <span class="backToTop_inner">TOP</span>
    </a><!-- .backToTop -->
</header>