<div class="hero">
    <div class="hero__item">
        <div>
            <picture class="hero__picture">
                <source srcset="/images/mainvisual_1.jpg" media="(min-width:600px)">
                <img class="hero__img" src="/images/mainvisual_1s.jpg" alt="">
            </picture>
        </div>
        <div>
            <picture class="hero__picture">
                <source srcset="/images/mainvisual_2.jpg" media="(min-width:600px)">
                <img class="hero__img" src="/images/mainvisual_2s.jpg" alt="">
            </picture>
        </div>
        <div>
            <picture class="hero__picture">
                <source srcset="/images/mainvisual_3.jpg" media="(min-width:600px)">
                <img class="hero__img" src="/images/mainvisual_3s.jpg" alt=""></picture>
        </div>
    </div>
    <div class="hero__item-scrolldown">
        <span class="hero__item-scrolldown-text rl-text">Scroll</span>
    </div>
