<section class="hero">
    <div class="hero__item"></div>
    <div class="mainvisualwrapper">
        <div class="mainvisual">
            <div class="mv-img">
                <picture><source srcset="../assets/images/mainvisual_1.jpg" media="(min-width:600px)"><img src="../assets/images/mainvisual_1s.jpg" alt=""></picture>
            </div>
            <div class="mv-img">
                <picture><source srcset="../assets/images/mainvisual_2.jpg" media="(min-width:600px)"><img src="../assets/images/mainvisual_2s.jpg" alt=""></picture>
            </div>
            <div class="mv-img">
                <picture><source srcset="../assets/images/mainvisual_3.jpg" media="(min-width:600px)"><img src="../assets/images/mainvisual_3s.jpg" alt=""></picture>
            </div>
        </div><!-- .mainvisual -->
    <div class="hero__item-scrolldown scrolldown"><span class="rl-text">Scroll</span></div>
</section>