
<section class="menu">
    <h1 class="fadeUpTrigger">お品書き</h1>
    <span class="menu-deco"></span>
    <div class="menuContent title">
        <div class="scale thumb"><a href="menu.html#lunch" class="menuImg"><img src=/images/lunch.jpeg alt="海鮮丼"></a></div>
        <div class="menuText text">
            <h2 class="">昼の料理</h2>
            <p class="">ちらし丼や寿司をリーズナブルにお楽しみいただけます。<br>お仕事の合間やランチタイムに、ぜひお気軽にお立ち寄りください。</p>
            <a href="menu.html#lunch" class="otherMenu button">もっと見る</a>
        </div><!-- .menuText -->
    </div><!-- .menuContent -->
    <div class="menuContent title">
        <div class="scale thumb"><a href="menu.html#dinner" class="menuImg"><img src=/images/dinner.jpeg alt="握り寿司"></a></div>
        <div class="menuText text">
            <h2 class="">夜の料理</h2>
            <p class="">
            鮮度抜群のマグロを使用した中トロや大トロの寿司をはじめ、ウニ、サーモンなど定番のネタから、季節限定のネタまで取り揃えております。</p>
            <a href="menu.html#dinner" class="otherMenu button">もっと見る</a>
        </div><!-- .menuText -->
    </div><!-- .menuContent -->
    <div class="menuContent title">
        <div class="scale thumb"><a href="menu.html#course" class="menuImg"><img src="/images/course.jpeg" alt="コース料理"></a></div>
        <div class="menuText text">
            <h2 class="">コース料理</h2>
            <p class="">
            旬の食材をふんだんに使用し、職人の手仕事による握り寿司を中心に、<br>前菜や揚げ物、煮物など多彩な料理が楽しめます。
            </p>
            <a href="menu.html#course" class="otherMenu button">もっと見る</a>
        </div><!-- .menuText -->
    </div><!-- .menuContent -->
</section><!-- .menu -->
