<section class="news">
    <h1 class="news__heading fadeUpTrigger">お知らせ</h1>
    <div class="news__item">
        <ul>
            <li class="news__unit fadeUpTrigger">
                <a href="news.html" class="news__unit-link"><p class="news__unit-text">2022.10.20</p>年末年始の営業のご案内</a>
            </li>
            <li class="news__unit fadeUpTrigger">
                <a href="news.html" class="news__unit-link"><p class="news__unit-text">2022.10.01</p>新メニューを追加しました。</a>
            </li>
            <li class="news__unit fadeUpTrigger">
                <a href="news.html" class="news__unit-link"><p class="news__unit-text">2022.09.01</p>WEBサイトをリニューアルしました。</a>
            </li>
        </ul>
    </div>
</section>