<section class="menu__contents">
<div class="menu__contents-group">
    <div class="menu__nav toc fadeUpTrigger">
        <a href="#lunch" class="menu__nav-item">昼の料理<span class="menu__nav-item-span"></span></a>
        <a href="#dinner" class="menu__nav-item">夜の料理<span class="menu__nav-item-span"></span></a>
        <a href="#drink" class="menu__nav-item">お飲み物<span class="menu__nav-item-span"></span></a>
        <a href="#course" class="menu__nav-item">コース<span class="menu__nav-item-span"></span></a>
    </div><!-- .menu__nav -->
    <div id="lunch">
        <h2 class="menu__contents-heading rl-text fadeUpTrigger">昼の料理</h2>
        <p class="menu__contents-text fadeUpTrigger">11:00～14:00の間、当店はランチタイムの営業を行っております。<br>
        お仕事の合間やランチタイムに、ぜひお気軽にお立ち寄りください。</p>
        <div class="lunch__contents fadeUpTrigger">
            <div class="lunch__contents-item">
                <img src="images/lunch.jpeg" alt="海鮮丼">
                <div class="lunch__contents-text">
                    <p>にぎり一人前</p><p>1,800円</p>
                </div>
            </div>
            <div class="lunch__contents-item">
                <img src="images/lunch.jpeg" alt="海鮮丼">
                <div class="lunch__contents-text">
                    <p>特選ちらし</p><p>2,800円</p>
                </div>
            </div>
            <div class="lunch__contents-item">
                <img src="images/lunch.jpeg" alt="海鮮丼">
                <div class="lunch__contents-text">
                    <p>鉄火丼</p><p>2,800円</p>
                </div>
            </div>
        </div>
    </div><!-- .lunch -->
    <div id="dinner">
        <h2 class="menu__contents-heading rl-text fadeUpTrigger">夜の料理</h2>
        <p class="menu__contents-text fadeUpTrigger">
        鮮度抜群のマグロを使用した中トロや大トロの寿司をはじめ、<br>ウニ、サーモンなど定番のネタから、季節限定のネタまで取り揃えております。</p>
        <div class="dinner__contents fadeUpTrigger">
            <div class="dinner__contents-item__large">
                <img src="images/maguro.jpg" alt="まぐろ">
                <div class="dinner__contents-text">
                <p>刺身盛り合わせ</p><p>5,000円</p>
                </div>
            </div>
            <div class="dinner__contents-item__large">
                <img src="images/maguro.jpg" alt="まぐろ">
                <div class="dinner__contents-text">
                <p>お好みにぎり</p><p>時価</p>
                </div>
            </div>
        </div>
        <div class="dinner__contents fadeUpTrigger">
            <div class="dinner__contents-item__small">
                <img src="images/maguro.jpg" alt="まぐろ">
                <div class="dinner__contents-text">
                    <p>海鮮サラダ</p><p>900円</p>
                </div>
            </div>
            <div class="dinner__contents-item__small">
                <img src="images/maguro.jpg" alt="まぐろ">
                <div class="dinner__contents-text">
                    <p>鮪のほほ肉鉄板焼き</p><p>1,100円</p>
                </div>
            </div>
            <div class="dinner__contents-item__small">
                <img src="images/maguro.jpg" alt="まぐろ">
                <div class="dinner__contents-text">
                    <p>玉子焼き</p><p>800円</p>
                </div>
            </div>
        </div>
    </div><!-- .dinner -->
    <div id="drink">
        <h2 class="menu__contents-heading rl-text fadeUpTrigger">お飲み物</h2>
        <p class="menu__contents-text fadeUpTrigger">お客様のお好みに合わせた飲み物のペアリングも可能です。<br>日本酒やワイン、ビールなど、豊富なドリンクメニューと共に、<br>当店自慢の料理をお楽しみください。</p>
        <div class="drink__contents fadeUpTrigger">
            <div class="drink__contents-item">
                <h3 class="drink__contents-item-heading">地酒</h3>
                <dl class="drink__list">
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                </dl>
                <h3 class="drink__contents-item-heading">酎ハイ・サワー</h3>
                <dl>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                </dl>
                <h3 class="drink__contents-item-heading">本格焼酎</h3>
                <dl>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                </dl>

            </div><!-- .drinkContent -->
            <div class="drink__contents-item">
                <h3 class="drink__contents-item-heading">果実酒</h3>
                <dl>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                </dl>
                <h3 class="drink__contents-item-heading">ソフトドリンク</h3>
                <dl>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                    <div class="drink__list-wrap">
                        <dt class="drink__list-term">サンプル</dt>
                        <dd class="drink__list-description">880円</dd>
                    </div>
                </dl>

            </div>
        </div>
    </div><!-- .drink -->
    <div id="course">
        <h2 class="menu__contents-heading rl-text fadeUpTrigger">コース</h2>
        <div class="course__contents">
            <img src="images/coursebg.png" alt="コース料理" class="course__contents-img fadeUpTrigger">
            <div class="course__contents-item fadeUpTrigger">
                <p>旬の食材をふんだんに使用し、職人の手仕事による握り寿司を中心に、前菜や揚げ物、煮物など多彩な料理が楽しめます。</p>
                <small>※アレルギー等はご予約時にお知らせください</small>
                <div class="course__contents-item-menu">
                    <p class="course__contents-item-menu-text">
                        <span class="course__contents-menu-span">＜おまかせコース＞</span>
                        <span class="course__contents-menu-span">16,000円</span>
                        <br>
                        <small>お通し、お造り、季節の料理二品、寿司八貫、巻物、お椀</small>
                    </p>
                    <p class="course__contents-item-text">
                        <span class="course__contents-menu-span">＜特別コース＞</span>
                        <span class="course__contents-menu-span">22,000円</span>
                        <br>
                        <small>お通し、お造り、季節の料理三品、寿司十貫、巻物、お椀</small></p>
                </div>
            </div>
        </div>
    </div><!-- .course -->
    </div>
</section>
