<section class="menu__head">
    <div class="menu__head-item titleArea">
        <h1 class="menu__head-title">
            <span class="menu__head-title-text">お品書き</span>
        </h1>
        <div class="menu__head-img"></div>
    </div>
</section>
