---
import "../assets/style/style.scss";
import "@splidejs/splide/css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<!-- CSS -->
		<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>Sushi</title>
		<!-- js -->
		<script is:inline src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script is:inline src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<slot />
		<script type="module" src="/src/scripts/common.js"></script>
	</body>
</html>

<style is:global>
	/* html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	} */
	 :root{
		--spacing: .25rem;
		/* 4*8=32,*15=60,*25=100,*30=120 */
		--LAYOUT-MARGIN-INLINE: 1.25rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: 1.5;
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --text-4xl: 2.25rem;
		--text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
	 }
	body {
		background: #333;
		color: #eee;
		letter-spacing: .07em;
		font-family: 'しっぽり明朝', serif;
		text-shadow: 1px 1px 2px #222;
		background-image: url(/images/background.jpg);
		background-size: contain;
		background-repeat: repeat;
		overflow-x: hidden;
		margin-bottom: calc(var(--spacing) * 24);
	}
	img {
		max-width: 100%;
		vertical-align: bottom;
	}
	ul {
		list-style: none;
	}
	a {
		color: #eee;
		text-decoration: none;
		text-shadow: 1px 1px 1px #222;
	}
	h1 {
		font-size: var(--text-3xl);
	}
	h1,
	h2,
	h3 {
		font-weight: normal;
		letter-spacing: .2em;
	}
	.rl-text {
    /* 縦書き一括設定 */
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
	}
	.fadeUp {
		animation-name: fadeUpAnime;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		opacity: 0;
    }
	.js-fadeUpTrigger {
		opacity: 0;
	}
	@keyframes fadeUpAnime {
		from {
			opacity: 0;
			transform: translateY(100px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.fadeRight {
		animation-name: fadeRightAnime;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		opacity: 0;
    }
	.js-fadeRightTrigger {
		opacity: 0;
	}
	@keyframes fadeRightAnime {
		from{
			opacity: 0;
			transform: translateX(100px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.blur {
		animation-name: blurAnime;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
	@keyframes blurAnime {
		from {
			filter: blur(5px);
			transform: scale(0.9);
		}
		to {
			filter: blur(0);
			transform: scale(1);
		}
	}
	/* 左の動き */
	.js-header__sidenav.LeftMove {
		animation: LeftAnime 1s forwards;
	}
	@keyframes LeftAnime{
		from {
			opacity: 0;
			transform: translateX(100px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	/* 右の動き */
	.js-header__sidenav.RightMove {
		animation: RightAnime 1.5s forwards;
	}
	@keyframes RightAnime{
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 1;
			transform: translateX(100px);
		}
	}

	.fadeup {
			opacity: 0;
			transform: translateY(50px);
			transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
									transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
		}

		.fadeup.is-active {
			opacity: 1;
			transform: translateY(0);
		}









@media screen and (max-width:768px) {
	body {
		margin-bottom: calc(var(--spacing) * 12);
	}
	body.fixed {
		position: fixed;
		width: 100%;
	}
	h1 {
		font-size: var(--text-2xl);
	}
}
</style>