---
import "../assets/style/style.scss";
import "@splidejs/splide/css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<!-- CSS -->
		<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>Sushi</title>
		<!-- js -->
		<script is:inline src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script is:inline src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<slot />
		<script type="module" src="/src/scripts/common.js"></script>
	</body>
</html>

<style is:global>
	/* html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	} */
	body {
		background: #333;
		color: #eee;
		font-size: 1.125rem;
		letter-spacing: .07rem;
		font-family: 'しっぽり明朝', serif;
		text-shadow: 1px 1px 2px #222;
		background-image: url(/images/background.jpg);
		background-size: contain;
		background-repeat: repeat;
		overflow-x: hidden;
	}
	img {
		max-width: 100%;
		vertical-align: bottom;
	}
	ul {
		list-style: none;
	}
	a {
		color: #eee;
		text-decoration: none;
		text-shadow: 1px 1px 1px #222;
	}
	h1 {
		font-size: 2rem;
		letter-spacing: .5rem;
	}
	h1,
	h2,
	h3 {
		font-weight: normal;
	}
	.rl-text {
    /* 縦書き一括設定 */
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
	}
	.fadeUp {
		animation-name: fadeUpAnime;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		opacity: 0;
    }
	.js-fadeUpTrigger {
		opacity: 0;
	}
	@keyframes fadeUpAnime {
		from {
			opacity: 0;
			transform: translateY(100px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.fadeRight {
		animation-name: fadeRightAnime;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		opacity: 0;
    }
	.js-fadeRightTrigger {
		opacity: 0;
	}
	@keyframes fadeRightAnime {
		from{
			opacity: 0;
			transform: translateX(100px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.blur {
		animation-name: blurAnime;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
	@keyframes blurAnime {
		from {
			filter: blur(5px);
			transform: scale(0.9);
		}
		to {
			filter: blur(0);
			transform: scale(1);
		}
	}
	/* 左の動き */
	.js-header__sidenav.LeftMove {
		animation: LeftAnime 1s forwards;
	}
	@keyframes LeftAnime{
		from {
			opacity: 0;
			transform: translateX(100px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
	/* 右の動き */
	.js-header__sidenav.RightMove {
		animation: RightAnime 1.5s forwards;
	}
	@keyframes RightAnime{
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 1;
			transform: translateX(100px);
		}
	}

@media screen and (max-width:768px) {
	body {
		font-size: 1rem;
	}
	body.fixed {
		position: fixed;
		width: 100%;
	}
	h1 {
		font-size: 1.5rem;
	}
}
</style>