.about {
    max-width: calc(var(--spacing) * 200);
    margin: calc(var(--spacing) * 40) auto;
    position: relative;
}
.about__text {
    font-size: var(--text-lg);
    padding-bottom: calc(var(--spacing) * 12);
    line-height: 2.5;
}
.about__button {
    position: relative;
    display: block;
    text-align: center;
    width: calc(var(--spacing) * 80);
    padding: calc(var(--spacing) * 4);
    font-size: var(--text-2xl);
    margin-top: calc(var(--spacing) * 10);
    background: rgba(137, 22, 45, 0.8);
    &:hover {
        background: rgba(137, 22, 45);
    }
}
.about__button-deco {
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #aaa;
}
/* ---sp-about--- */
@media screen and (max-width:768px) {
    .about {
        width: calc(100% - var(--LAYOUT-MARGIN-INLINE) * 2);
        margin: calc(var(--spacing) * 30) auto;
    }
    .about__item {
        align-items: center;
    }
    .about__text {
        font-size: var(--text-base);
        flex: 1 1 50%;
    }
    .about__button {
        width: calc(var(--spacing) * 80);
        height: auto;
        flex: 0 1 auto;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
        margin-top: calc(var(--spacing) * 15);
        font-size: var(--text-base);
        -ms-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
    }
}