.hero__picture {
    width: 100%;
    height: 100vh;
    display: block;
    transform: scale(1.1);
    }
.hero__img  {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    transform: scale(1.03);
}
.zoomUp {
    animation: zoomUp 6s linear forwards;
  }
  @keyframes zoomUp {
  0% {
      transform: scale(1.03);
  }
  100% {
      transform: scale(1);
  }
  }
// @media screen and (max-width:768px) {
//     .hero__item{
//         height: 100%;
//     }    
// }
.hero__item-scrolldown {
    position:absolute;
    bottom: 8px;
    left: 8px;
    &::before {
        content: "";
        position: absolute;
        bottom:0;
        left:0;
        width:8px;
        height:8px;
        border-radius: 50%;
        background:#ddd;
        opacity: 0;
        animation:
        circlemove 2.5s ease-in-out infinite backwards,
        cirlemovehide 2.5s ease-in infinite backwards;
    }
    &::after{
        content:"";
        position: absolute;
        bottom:0;
        left:4px;
        width:1px;
        height: 60px;
        background: #ddd;
    }
}
.hero__item-scrolldown-text {
    position: absolute;
    left:8px;
    bottom:16px;
    font-size: var(--text-sm);
}

@keyframes circlemove {
    0% {bottom: 55px;}
    100% {bottom: -5px;}
}
@keyframes cirlemovehide {
    0% {opacity: 0;}
    50% {opacity: 1;}
    70% {opacity: 0.5;}
    100% {opacity: 0;}
}