.info {
    margin: calc(var(--spacing) * 40) auto;
    position: relative;
    width: 100%;
    &::before {
        content: url(../images/nami.png);
        position: absolute;
        bottom: -100px;
        right: -100px;
        transform: scale(0.7);
    }
}
.info__img {
    width: 100%;
    height: 510px;
    object-fit: cover;
    object-position: 50% 80%;
    margin-bottom: calc(var(--spacing) * 25);
}
.info__unit {
    margin: 0 auto;
    width: 800px;
    align-items: center;
    gap: 16px;    
}
.info__heading {
    margin-bottom: calc(var(--spacing) * 20);
    text-align: center;
    position: relative;
}
.info__text {
    font-size: var(--text-lg);
}
@media screen and (max-width:768px) {
    .info {
        &::before {
            display: none;
        }
    }
    .info__img {
        width: 100%;
        height: 270px;
        margin-bottom: calc(var(--spacing) * 15);
    }
    .info__unit {
        width: 80%;
        height: 300px;
        margin: 0 auto;
    }
    .info__heading {
        margin-bottom: calc(var(--spacing) * 15);
    }
}