.info {
    padding-top: 20px;
    position: relative;
    width: 100%;
    &::before {
        content: url(../images/nami.png);
        position: absolute;
        bottom: -100px;
        right: -100px;
        transform: scale(0.7);
    }
}
.info__img {
    width: 100%;
    height: 510px;
    object-fit: cover;
    object-position: 50% 80%;
    margin-bottom: 100px;
}
.info__unit {
    margin: 0 auto;
    width: 800px;
    align-items: center;
    gap: 16px;    
}
.info__heading {
    padding-bottom: 60px;
    text-align: center;
    position: relative;
}
@media screen and (max-width:768px) {
    .info {
        padding: 60px 0 0;
        &::before {
            display: none;
        }
    }
    .info__img {
        width: 100%;
        height: 270px;
        margin-bottom: 60px;
    }
    .info__unit {
        width: 80%;
        height: 300px;
        margin: 0 auto;
    }
    .info__heading {
        padding-bottom: 40px;
    }
}