.info {
    margin: calc(var(--spacing) * 40) auto;
    position: relative;
    width: 100%;
    &::before {
        content: url(../images/nami.png);
        position: absolute;
        bottom: -100px;
        right: -100px;
        transform: scale(0.7);
    }
}
.info__img {
    width: 100%;
    height: calc(var(--spacing) * 130);
    object-fit: cover;
    object-position: 50% 80%;
    margin-bottom: calc(var(--spacing) * 25);
}
.info__unit {
    margin: 0 auto;
    max-width: calc(var(--spacing) * 200);
    align-items: center;
}
.info__heading {
    margin-bottom: calc(var(--spacing) * 20);
    text-align: center;
    position: relative;
}
.info__text {
    font-size: var(--text-lg);
    padding-bottom: calc(var(--spacing) * 12);
    line-height: 2.5;

}
@media screen and (max-width:768px) {
    .info {
        margin: calc(var(--spacing) * 30) auto;
        &::before {
            display: none;
        }
    }
    .info__img {
        width: 100%;
        height: calc(var(--spacing) * 70);
        margin-bottom: calc(var(--spacing) * 15);
    }
    .info__unit {
        width: calc(100% - var(--LAYOUT-MARGIN-INLINE) * 2);
        margin: 0 auto;
    }
    .info__heading {
        margin-bottom: calc(var(--spacing) * 15);
    }
}