.menu {
    max-width: calc(var(--spacing) * 200);
    margin: calc(var(--spacing) * 40) auto;
    position: relative;

}
.menu__heading {
    margin: 0 auto;
    text-align: center;
    margin-bottom: calc(var(--spacing) * 20);
}
.menu__item {
    margin-bottom: calc(var(--spacing) * 20);
    position: relative;
}
.menu__img {
    width: 50%;
    height: calc(var(--spacing) * 100);
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.menu__img-link {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition:  0.8s all;
    &:hover {
        transform: scale(1.05);
        transition: 0.8s all;
    }
}
.menu__unit {
    max-width: 70%;
    background-color: #262526;
    padding: calc(var(--spacing) * 7) calc(var(--spacing) * 7) calc(var(--spacing) * 7) calc(var(--spacing) * 56);
    position: absolute;
    top: 16px;
    right: 0;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}
.menu__unit-title {
    margin-bottom: calc(var(--spacing) * 8);
}
.menu__unit-text {
    line-height: 2;
    margin-bottom: calc(var(--spacing) * 8);
}
.menu__unit-button {
    display: block;
    position: relative;
    width: calc(var(--spacing) * 62);
    padding: calc(var(--spacing) * 3);
    text-align: center;
    background: #89162D;
    &:hover {
        background: #771212;
    }
}
// sp-menu
@media screen and (max-width:768px) {
    .menu {
        width: calc(100% - var(--LAYOUT-MARGIN-INLINE) * 2);
        margin: calc(var(--spacing) * 30) auto;
    }
    .menu__heading {
        margin-bottom: calc(var(--spacing) * 15);
    }
    .menu__item  {
        height: calc(var(--spacing) * 105);
        margin:0 auto;
        margin-bottom: calc(var(--spacing) * 15);
    }
    .menu__img {
        width: 100%;
        height: calc(var(--spacing) * 50);
    }
    .menu__unit {
        max-width: 100%;
        height: auto;   
        padding: calc(var(--spacing) * 4);
        top: calc(var(--spacing) * 50);
    }
    .menu__unit-title {
        margin-bottom: calc(var(--spacing) * 2);
    }
    .menu__unit-text {
        line-height: 1.5;
        margin-bottom: calc(var(--spacing) * 8);
    }
    .menu__unit-button {
        margin: 0 auto;
    }
}