.news {
    width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 180px 0;
    position: relative;
}
.news__heading {
    padding-bottom: 80px;
    text-align: center;
    position: relative;
}
.news__unit {
    padding: 20px 10px;
    position: relative;
    border-top: 1px rgba(150,150,150,0.5) solid;
    &:last-child {
        border-bottom: 1px rgba(150,150,150,0.5) solid;
    }
    &:hover {
        background: rgba(137, 22, 45, 0.5);
    }
    &::before {
        content: "";
        position: absolute;
        top: 40%;
        right: 5px;
        width: 35px;
        height: 10px;
        color: #eee;
        transition: all .2s linear;
        border-width: 0 1px 1px 0;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        -webkit-transform: skew(45deg);
        transform: skew(45deg);
    }
    &:hover::before {
        right: -10px;
    }
}
.news__unit-link {
    position: relative;
    display: block;
    padding-right: 40px;
}
.news__unit-text {
    font-size: .875rem;
    margin-right: 10px;
}
@media screen and (max-width:768px) {
    .news {
        width: 90%;
        padding: 100px 0 180px;
        display: block;
    }
    .news__heading {
        width: auto;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 40px;
        margin: 0 auto;
    }
    .news__unit {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
}