.news {
    width: 800px;
    height: auto;
    margin: calc(var(--spacing) * 40) auto;
    position: relative;
}
.news__heading {
    margin-bottom: calc(var(--spacing) * 20);
    text-align: center;
    position: relative;
}
.news__unit {
    padding: calc(var(--spacing) *  5) calc(var(--spacing) * 3);
    position: relative;
    border-top: 1px rgba(150,150,150,0.5) solid;
    &:last-child {
        border-bottom: 1px rgba(150,150,150,0.5) solid;
    }
    &:hover {
        background: rgba(137, 22, 45, 0.5);
    }
    &::before {
        content: "";
        position: absolute;
        top: 40%;
        right: 5px;
        width: 35px;
        height: 10px;
        color: #eee;
        transition: all .2s linear;
        border-width: 0 1px 1px 0;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        -webkit-transform: skew(45deg);
        transform: skew(45deg);
    }
    &:hover::before {
        right: -10px;
    }
}
.news__unit-link {
    position: relative;
    display: block;
    padding-right: calc(var(--spacing) * 10);
    font-size: var(--text-lg);
}
.news__unit-text {
    font-size: var(--text-sm);
    margin-bottom: var(--spacing);
}
@media screen and (max-width:768px) {
    .news {
        width: 90%;
        display: block;
    }
    .news__heading {
        width: auto;
        margin-bottom: calc(var(--spacing) * 15);
    }
    .news__unit {
        display: flex;
        flex-direction: column;
    }
}